.App {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-align: center;
  min-width: 1000px;
}

.form-div {
  flex: 1;
}

.form {
  display: flex;
  margin: 0px 25px;
  justify-content: space-evenly;
}


p {
  font-size: 30px;
  font-weight: 600;
}